{% extends "_layouts/cp" %}

{% includeCssResource "contactstorage/css/style.css" %}

{% set title = "Contact Form Storage" %}

{% set forms = craft.contactStorage.forms %}

{% set extraPageHeaderHtml %}
    <a class="submit btn add icon" href="/admin/contactstorage/form/new">Create a form</a>
{% endset %}

{% block content %}

<table class="data fullwidth">
    {% if forms %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Form Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
                <tr>
                    <td>{{ form.id }}</td>
                    <td>{{ form.name }}</td>
                    <td><a class="btn" href="/admin/contactstorage/form/{{ form.id }}">View Submissions</a></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        No forms currently exist.
    {% endif %}
</table>

{% endblock %}
