{% extends "_layouts/cp" %}

{% includeCssResource "contactstorage/css/style.css" %}

{% set title = "Contact Storage" %}

{% set submissions = craft.contactStorage.submissions %}

{% block content %}

    {% if submissions is not empty %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td class="date">{{ submission.dateUpdated }}</td>
                        <td><strong><a href="{{ actionUrl('contactStorage/viewSubmission', {id: submission.id}) }}">{{ submission.fromName }}</a></strong></td>
                        <td>{{ submission.fromEmail }}</td>
                        <td class="delete"><a href="{{ actionUrl('contactStorage/delete', {id: submission.id}) }}" class="delete icon"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are currently no submissions in the database.</p>
    {% endif %}

{% endblock %}
